<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happiness History</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Happiness Index History</h2>
        <table class="striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Happiness (Scale of 100)</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for happiness in happiness_index %}
                <tr>
                    <td>{{ happiness[0] }}</td>
                    <td>{{ happiness[1] }}</td>
                    <td>{{ happiness[2] or "No Comments" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <a class="waves-effect waves-light btn" href="{{ url_for('log_happiness') }}">Log Happiness</a>
        <a class="waves-effect waves-light btn" href="{{ url_for('index') }}">Home Page</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
